<a href="https://colab.research.google.com/github/abhinao007/Code-tensorflow/blob/main/ML_project_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np 
import pandas as pd 
from textblob import TextBlob
import matplotlib.pyplot as plt
from google.colab import files
import keras
import tensorflow as tf
from keras.models import Sequential
from keras.layers import Dense,LSTM,Dropout,Activation,Embedding,Bidirectional

In [7]:


# Install Kaggle library
!pip install -q kaggle
uploaded = files.upload()

Saving kaggle.json to kaggle.json

In [8]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle

In [9]:
!chmod 600 ~/.kaggle/kaggle.json

In [10]:
!kaggle datasets download -d alaix14/bitcoin-tweets-20160101-to-20190329

Downloading bitcoin-tweets-20160101-to-20190329.zip to /content
100% 1.58G/1.58G [00:14<00:00, 53.7MB/s]
100% 1.58G/1.58G [00:14<00:00, 117MB/s]

In [11]:

from zipfile import ZipFile

file_name = "bitcoin-tweets-20160101-to-20190329.zip"

with ZipFile(file_name, "r") as zip:
  zip.extractall()
  print("done")

done

In [44]:
import pandas as pd
df = pd.read_csv('tweets.csv', sep=';',nrows=20000)

In [45]:
#predit the language to filter for English 
!pip install whatthelang
from whatthelang import WhatTheLang

wtl = WhatTheLang()
L=[]
for row in df['text']:
    if len(row)!=0:
        L.append(wtl.predict_lang(row))
    else:
        L.append(None)
        
df['lang'] = L
df.head()
df = df[df["lang"] == 'en']

Requirement already satisfied: whatthelang in /usr/local/lib/python3.7/dist-packages (1.0.1)
Requirement already satisfied: Cython in /usr/local/lib/python3.7/dist-packages (from whatthelang) (0.29.23)
Requirement already satisfied: cysignals in /usr/local/lib/python3.7/dist-packages (from whatthelang) (1.10.3)
Requirement already satisfied: pyfasttext in /usr/local/lib/python3.7/dist-packages (from whatthelang) (0.4.6)
Requirement already satisfied: future in /usr/local/lib/python3.7/dist-packages (from pyfasttext->whatthelang) (0.16.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from pyfasttext->whatthelang) (1.19.5)

In [3]:
#upload files for Bitcoin trading

uploaded = files.upload()

Saving BTC_USD_2013-10-01_2021-07-02-CoinDesk.csv to BTC_USD_2013-10-01_2021-07-02-CoinDesk.csv

In [15]:
df_btc = pd.read_csv("BTC_USD_2013-10-01_2021-07-02-CoinDesk.csv")
df_btc.head()

  Currency        Date  ...  24h High (USD)  24h Low (USD)
0      BTC  2013-10-01  ...       124.75166      122.56349
1      BTC  2013-10-02  ...       125.75850      123.63383
2      BTC  2013-10-03  ...       125.66566       83.32833
3      BTC  2013-10-04  ...       118.67500      107.05816
4      BTC  2013-10-05  ...       121.93633      118.00566

[5 rows x 6 columns]

In [18]:
df_btc["Date_Time"]=pd.to_datetime(df_btc["Date"], format='%Y%m%d', errors='ignore')

In [26]:
df_btc['Date_Time']= pd.to_datetime(df_btc['Date'])
df_btc.head()

  Currency        Date  ...  24h Low (USD)  Date_Time
0      BTC  2013-10-01  ...      122.56349 2013-10-01
1      BTC  2013-10-02  ...      123.63383 2013-10-02
2      BTC  2013-10-03  ...       83.32833 2013-10-03
3      BTC  2013-10-04  ...      107.05816 2013-10-04
4      BTC  2013-10-05  ...      118.00566 2013-10-05

[5 rows x 7 columns]

In [50]:
df['Date_Time']= pd.to_datetime(df['timestamp'], format='%Y-%m-%d')

df['Date_Time']= pd.to_datetime(df['Date_Time']).dt.date
df['Date_Time']= pd.to_datetime(df['Date_Time'])
df.head()

                    id           user  ... lang  Date_Time
1  1132977073402736640      bitcointe  ...   en 2019-05-27
2  1132977023893139456      3eyedbran  ...   en 2019-05-27
3  1132977089089556481  DetroitCrypto  ...   en 2019-05-27
4  1132977092340191232   mmursaleen72  ...   en 2019-05-27
6  1132977101638897665   evilrobotted  ...   en 2019-05-27

[5 rows x 11 columns]

In [40]:
len(df)

11926

In [47]:
!pip install nltk
!pip install re

import nltk
import re
nltk.download("stopwords")
from nltk.corpus import stopwords

def text_cleaning(text):
    forbidden_words = set(stopwords.words('english'))
    text = ' '.join(text.split('.'))
    text = re.sub('\/',' ',text)
    text = text.strip('\'"')
    text = re.sub(r'@([^\s]+)',r'\1',text)
    text = re.sub(r'\\',' ',text)
    text = text.lower()
    text = re.sub('[\s]+', ' ', text)
    text = re.sub(r'#([^\s]+)', r'\1', text)
    text = re.sub('((www\.[^\s]+)|(https?://[^\s]+))',' ',text)
    text = re.sub(r'((http)\S+)','',text)
    text = re.sub(r'\s+', ' ', re.sub('[^A-Za-z]', ' ', text.strip().lower())).strip()
    text = re.sub(r'\W+', ' ', text.strip().lower()).strip()
    text = [word for word in text.split() if word not in forbidden_words]
    return ' '.join(text)

df['text'] = df['text'].apply(lambda text: text_cleaning(text))
df.sample(3)

Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from nltk) (1.15.0)
ERROR: Could not find a version that satisfies the requirement re (from versions: none)
ERROR: No matching distribution found for re
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

                        id           user  ... lang   Date_Time
5540   1126830222622564357    bitcoinmate  ...   en  2019-05-10
4488   1126796716378918912  cryptoJunky6b  ...   en  2019-05-10
14638  1126864479835295744      neoprice_  ...   en  2019-05-10

[3 rows x 11 columns]

In [56]:
df_j = pd.merge(df, df_btc, how='left', on = 'Date_Time')

In [59]:
df_j.head()

                    id           user  ... 24h High (USD) 24h Low (USD)
0  1132977073402736640      bitcointe  ...    8937.246491   8621.572192
1  1132977023893139456      3eyedbran  ...    8937.246491   8621.572192
2  1132977089089556481  DetroitCrypto  ...    8937.246491   8621.572192
3  1132977092340191232   mmursaleen72  ...    8937.246491   8621.572192
4  1132977101638897665   evilrobotted  ...    8937.246491   8621.572192

[5 rows x 17 columns]

In [60]:
from textblob import TextBlob

def sentiment(txt):
    return TextBlob(txt).sentiment.polarity

df_j['sentiment'] = df_j['text'].apply(lambda txt: sentiment(txt))      # new column of sentiment

df_j.sample(10)

                        id             user  ... 24h Low (USD) sentiment
3641   1126827139695824897      AlfathNafal  ...   6098.157976  0.116667
1510   1132982336960770048      jilatarduna  ...   8621.572192  0.300000
7651   1126847321407406081  TheCryptoPadawa  ...   6098.157976 -0.550000
4723   1126310803748028417          kerooke  ...   5845.650918  0.125000
4460   1126830897418964992    CompumatrixUS  ...   6098.157976  0.350000
7638   1126845925496897539    SandraHappyOd  ...   6098.157976  0.000000
11643  1126864476702167040   NapalmDeathBot  ...   6098.157976 -0.100000
12622  1126868469629313024         GayleU64  ...   6098.157976  0.300000
8963   1127277847725264896  TheePossibility  ...   6346.331889  0.000000
3638   1126827114915880961           tnwrss  ...   6098.157976  0.000000

[10 rows x 18 columns]

In [61]:
from numpy.random import RandomState

rng = RandomState()
train_data = df_j.sample(frac=0.8, random_state=rng)
test_data = df_j.loc[~df_j.index.isin(train_data.index)]

La taille des données d entrinement: 12796
La taille des données de test: 3199

In [77]:
max_features = 20000  # Only consider the top 20k words
maxlen = 200

In [66]:
train_data['flag'] = 'TRAIN'
test_data['flag'] = 'TEST'


total_docs = pd.concat([train_data,test_data],axis = 0,ignore_index = True)
phrases = total_docs['text'].tolist()

total_docs.sample(10)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                        id             user  ... sentiment   flag
5108   1126855830219845632     CharlieIsBig  ...  0.500000  TRAIN
10734  1126861571899252738  wanderingsadhak  ... -0.050000  TRAIN
2328   1126830542073286656       BruceDayne  ...  0.000000  TRAIN
5604   1116850088347746305  AfricanCoinExch  ...  0.000000  TRAIN
12779  1126860842702602240    deYummyEvents  ...  0.350000  TRAIN
15630  1126875252380897280    PrettyHatMech  ...  0.000000   TEST
860    1126842347336105984      KevinEllah1  ...  0.500000  TRAIN
8646   1126859813617410049     SusantiNuris  ...  0.658333  TRAIN
9646   1126869022744563712  MercadosBitcoin  ...  0.000000  TRAIN
14634  1126853279009218564    PlanetaryDice  ...  0.400000   TEST

[10 rows x 19 columns]

In [76]:
from keras.preprocessing.text import one_hot
vocab_size = 50000
encoded_phrases = [one_hot(d, vocab_size) for d in phrases]
total_docs['Phrase'] = encoded_phrases
train_data = total_docs[total_docs['flag'] == 'TRAIN']
test_data = total_docs[total_docs['flag'] == 'TEST']
x_train = train_data['Phrase']
y_train = train_data['sentiment']
x_val = test_data['Phrase']
y_val = test_data['sentiment']

In [78]:
x_train = keras.preprocessing.sequence.pad_sequences(x_train, maxlen=maxlen)
x_val = keras.preprocessing.sequence.pad_sequences(x_val, maxlen=maxlen)

In [79]:
model = Sequential()
inputs = keras.Input(shape=(None,), dtype="int32")

# Embed each integer in a 128-dimensional vector
model.add(inputs)
model.add(Embedding(50000, 32))
model.add(LSTM(32, return_sequences=True))
model.add(LSTM(32))

# Add a classifier
model.add(Dense(1, activation="sigmoid"))

model.summary()

WARNING:tensorflow:Please add `keras.layers.InputLayer` instead of `keras.Input` to Sequential model. `keras.Input` is intended to be used by Functional model.
Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding (Embedding)        (None, None, 32)          1600000
_________________________________________________________________
lstm (LSTM)                  (None, None, 32)          8320
_________________________________________________________________
lstm_1 (LSTM)                (None, 32)                8320
_________________________________________________________________
dense (Dense)                (None, 1)                 33
=================================================================
Total params: 1,616,673
Trainable params: 1,616,673
Non-trainable params: 0
_________________________________________________________________

In [80]:
model.compile(optimizer='rmsprop', 
              loss='binary_crossentropy', 
              metrics=["accuracy"])

model.fit(x_train, y_train, 
          batch_size=128, 
          epochs=20, 
          validation_data=(x_val, y_val),
          validation_steps=20)

Epoch 1/20
100/100 [==============================] - 49s 280ms/step - loss: 0.3659 - accuracy: 0.4874 - val_loss: 0.2566 - val_accuracy: 0.4945
Epoch 2/20
100/100 [==============================] - 27s 269ms/step - loss: 0.1991 - accuracy: 0.4981 - val_loss: 0.1502 - val_accuracy: 0.4949
Epoch 3/20
100/100 [==============================] - 27s 265ms/step - loss: 0.0762 - accuracy: 0.4989 - val_loss: 0.0980 - val_accuracy: 0.4953
Epoch 4/20
100/100 [==============================] - 27s 267ms/step - loss: 0.0460 - accuracy: 0.4984 - val_loss: 0.6406 - val_accuracy: 0.4945
Epoch 5/20
100/100 [==============================] - 27s 267ms/step - loss: 0.2743 - accuracy: 0.4951 - val_loss: 0.0378 - val_accuracy: 0.4957
Epoch 6/20
100/100 [==============================] - 27s 268ms/step - loss: -0.0982 - accuracy: 0.4989 - val_loss: -0.0140 - val_accuracy: 0.4957
Epoch 7/20
100/100 [==============================] - 27s 267ms/step - loss: -0.1871 - accuracy: 0.5029 - val_loss: -0.0707 - val_accuracy: 0.4961
Epoch 8/20
100/100 [==============================] - 27s 267ms/step - loss: -0.2316 - accuracy: 0.5022 - val_loss: -0.1383 - val_accuracy: 0.4965
Epoch 9/20
100/100 [==============================] - 27s 269ms/step - loss: -0.3333 - accuracy: 0.4954 - val_loss: -0.1779 - val_accuracy: 0.4965
Epoch 10/20
100/100 [==============================] - 27s 269ms/step - loss: -0.4117 - accuracy: 0.5050 - val_loss: -0.2406 - val_accuracy: 0.4969
Epoch 11/20
100/100 [==============================] - 27s 269ms/step - loss: -0.5105 - accuracy: 0.5041 - val_loss: -0.2530 - val_accuracy: 0.4973
Epoch 12/20
100/100 [==============================] - 27s 271ms/step - loss: -0.5924 - accuracy: 0.4990 - val_loss: -0.3196 - val_accuracy: 0.4969
Epoch 13/20
100/100 [==============================] - 27s 268ms/step - loss: -0.6509 - accuracy: 0.5056 - val_loss: -0.3702 - val_accuracy: 0.4969
Epoch 14/20
100/100 [==============================] - 27s 267ms/step - loss: -0.6456 - accuracy: 0.5138 - val_loss: -0.4386 - val_accuracy: 0.4965
Epoch 15/20
100/100 [==============================] - 27s 267ms/step - loss: -0.7713 - accuracy: 0.5003 - val_loss: -0.4807 - val_accuracy: 0.4961
Epoch 16/20
100/100 [==============================] - 27s 268ms/step - loss: -0.8260 - accuracy: 0.5076 - val_loss: -0.4865 - val_accuracy: 0.4957
Epoch 17/20
100/100 [==============================] - 27s 268ms/step - loss: -0.9579 - accuracy: 0.5020 - val_loss: -0.5807 - val_accuracy: 0.4957
Epoch 18/20
100/100 [==============================] - 27s 268ms/step - loss: -1.0030 - accuracy: 0.5004 - val_loss: -0.6410 - val_accuracy: 0.4953
Epoch 19/20
100/100 [==============================] - 27s 268ms/step - loss: -1.1298 - accuracy: 0.5053 - val_loss: -0.6642 - val_accuracy: 0.4961
Epoch 20/20
100/100 [==============================] - 27s 268ms/step - loss: -1.1039 - accuracy: 0.5003 - val_loss: -0.7142 - val_accuracy: 0.4961

In [81]:
test_loss, test_acc = model.evaluate(x=x_val, y=y_val)

print('Test Loss: {}'.format(test_loss))
print('Test Accuracy: {}'.format(test_acc))

sample_text = ('Bitcoin just lost half its value overnight. Sorry all you savvy investors ')
vocab_size = 50000

model.predict(one_hot(sample_text, vocab_size))

100/100 [==============================] - 4s 36ms/step - loss: -0.6237 - accuracy: 0.4986
Test Loss: -0.623680591583252
Test Accuracy: 0.4985933005809784

array([[1.0762587e-01],
       [1.8603727e-01],
       [1.5957099e-01],
       [1.1550453e-09],
       [2.2997433e-01],
       [6.8857670e-02],
       [1.8781424e-03],
       [4.6504616e-11],
       [1.3946167e-01],
       [1.8456548e-02],
       [5.9124231e-03],
       [1.7454177e-02]], dtype=float32)

In [4]:
stopwords.words('english')

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [3]:
import nltk
import re
nltk.download("stopwords")
from nltk.corpus import stopwords

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.